In [2]:
import pandas as pd
import numpy as np 
#load the constituent funds 
df1 = pd.read_csv('C:/Users/nsw26/Desktop/Test_Merge/testmerge1.csv')
df2 = pd.read_csv('C:/Users/nsw26/Desktop/Test_Merge/testmerge2.csv')
#simple AUM - basically assumes share count also is AUM e.g. all shares are valued at $1 forever
sum1=df1.sum()
sum2=df2.sum()
df = df2.merge(df1,left_on='Stock',right_on='Stock',how='outer')
print(df)
print(sum1)
print(sum2)

  Stock  Shares_x  Shares_y
0   ABC        20        15
1  DEF         30        10
2   XYZ        40        25
Stock     ABCDEF XYZ
Shares            50
dtype: object
Stock     ABCDEF XYZ
Shares            90
dtype: object

In [3]:
df

  Stock  Shares_x  Shares_y
0   ABC        20        15
1  DEF         30        10
2   XYZ        40        25

In [5]:
TotalABCFund1 = df1['Shares'].sum()
print(TotalABCFund1)

50

In [6]:
#for ranking formula, the ranks of the funds are inverse 
ranktestmerge1 = 2
ranktestmerge2 = 1

#step4a position ranks, interim step, relative just to the stocks own portfolio
rankdf = ranktestmerge1/(df1['Shares']/sum1)

C:\Users\nsw26\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:3033: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)

In [12]:
Bottom1=df1['Shares']/50
#I had to manually enter 50, but I want this to be sum1 
#this takes each member of the shares and divides by AUM 
print (Bottom1)

0    0.3
1    0.2
2    0.5
Name: Shares, dtype: float64

In [15]:
df["bottom1"]=Bottom1

In [49]:
df = df.set_index(df["Stock"])

In [17]:
Top1=ranktestmerge2/Bottom1 
# this takes the rank divided by the step above 
df["top1"]=Top1

In [14]:
print(Top1)

0    3.333333
1    5.000000
2    2.000000
Name: Shares, dtype: float64

In [18]:
df

  Stock  Shares_x  Shares_y  bottom1      top1
0   ABC        20        15      0.3  3.333333
1  DEF         30        10      0.2  5.000000
2   XYZ        40        25      0.5  2.000000

In [23]:
Bottom2=df2['Shares']/35
Top2=ranktestmerge1/Bottom2
print(Top2)
df["top2"] = Top2

0    3.500000
1    2.333333
2    1.750000
Name: Shares, dtype: float64

In [24]:
combined = sum(Top1,Top2)

In [25]:
df

  Stock  Shares_x  Shares_y  bottom1      top1      top2
0   ABC        20        15      0.3  3.333333  3.500000
1  DEF         30        10      0.2  5.000000  2.333333
2   XYZ        40        25      0.5  2.000000  1.750000

In [26]:
print(combined)

0    13.833333
1    12.666667
2    12.083333
Name: Shares, dtype: float64

In [27]:
total=combined.sum()

In [28]:
print(total)

38.583333333333336

In [29]:
final=combined/total

In [30]:
print(final)
df["final"] = final

0    0.358531
1    0.328294
2    0.313175
Name: Shares, dtype: float64

In [31]:
#check
sum(final)

1.0

In [32]:
df

  Stock  Shares_x  Shares_y  bottom1      top1      top2     final
0   ABC        20        15      0.3  3.333333  3.500000  0.358531
1  DEF         30        10      0.2  5.000000  2.333333  0.328294
2   XYZ        40        25      0.5  2.000000  1.750000  0.313175

In [50]:
df["final"]

Stock
ABC     0.358531
DEF     0.328294
XYZ     0.313175
Name: final, dtype: float64

In [46]:
df

      Stock  Shares_x  Shares_y  bottom1      top1      top2     final
Stock
ABC     ABC        20        15      0.3  3.333333  3.500000  0.358531
DEF    DEF         30        10      0.2  5.000000  2.333333  0.328294
XYZ     XYZ        40        25      0.5  2.000000  1.750000  0.313175